@charset "UTF-8";
body{ 
    background-color: rgba(6, 156, 220, 0.249); font-family: Georgia, 'Times New Roman', Times, serif; font-size: 20px; 
}

h1{
    background-color: rgba(187, 29, 140, 0.516); 
}

p{
    text-align: ;
}
